<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Đăng nhập</title>
</head>
<body>
    <input type="text" name="" id="username" placeholder="username">
    <input type="password" name="" id="password" placeholder="Password">
    <button onclick="login()">Đăng nhập</button>
    <div class="notify" style="color: red"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src='/public/login.js'></script>
</body>
</html>