<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Đăng ký</title>
</head>
<body>
    <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username"><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password"><br>
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password">
        <button onclick="register()">register</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/register.js"></script>
</body>
</html>