body {

    line-height: 1.4;
    width: 100%;
}
.header{
    height: 85px;
    color: #000;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
       
}

.nav-item:hover{
    background-color: rgb(218, 116, 116);
    color: rgb(240, 102, 77);
    border-radius: 5px;
}
.relat1 {
    position: relative;
}
.subMenu {
    position: absolute;
    list-style: none;
    background-color:white;
    left: 0;
    top:100% ;
    width: 200px;
    display: none;
    padding: 0;   
    border-radius: 5px;
}
.relat1:hover .subMenu{
    display: block;
    background-color: white;
    color:black;
}
.subMenu li{
    padding: 8px 16px;
 }
.subMenu li:hover{
     background-color: rgb(218, 116, 116);
     color: white;
     cursor: pointer;/*chuot*/
     border-radius: 5px;
     
 }
 .relat2 {
    position: relative;
}
.subMenu2 {
    position: absolute;
    list-style: none;
    background-color:white;
    left: 0;
    top:100% ;
    width: 200px;
    display: none;
    padding: 0;   
    border-radius: 5px;
}
.relat2:hover .subMenu2{
    display: block;
    background-color: white;
    color:black;
}
.subMenu2 li{
    padding: 8px 16px;
 }
.subMenu2 li:hover{
     background-color: rgb(218, 116, 116);
     color: white;
     cursor: pointer;/*chuot*/
     border-radius: 5px;
     
 }
 .relat3 {
    position: relative;
}
.subMenu3 {
    position: absolute;
    list-style: none;
    background-color:white;
    left: 0;
    top:100% ;
    width: 200px;
    display: none;
    padding: 0;   
    border-radius: 5px;
}
.relat3:hover .subMenu3{
    display: block;
    background-color: white;
    color:black;
}
.subMenu3 li{
    padding: 8px 16px;
 }
.subMenu3 li:hover{
     background-color: rgb(218, 116, 116);
     color: white;
     cursor: pointer;/*chuot*/
     border-radius: 5px;
     
 }
 .relat4 {
    position: relative;
}
.subMenu4 {
    position: absolute;
    list-style: none;
    background-color:white;
    left: 0;
    top:100% ;
    width: 200px;
    display: none;
    padding: 0;   
    border-radius: 5px;
}
.relat4:hover .subMenu4{
    display: block;
    background-color: white;
    color:black;
}
.subMenu4 li{
    padding: 8px 16px;
 }
.subMenu4 li:hover{
     background-color: rgb(218, 116, 116);
     color: white;
     cursor: pointer;/*chuot*/
     border-radius: 5px;
     
 }
 .relat5 {
    position: relative;
}
.subMenu5 {
    position: absolute;
    list-style: none;
    background-color:white;
    left:-150px;
    top: 100%;
    width: 200px;
    display: none;
    padding: 0;   
    border-radius: 5px;
}
.relat5:hover .subMenu5{
    display: block;
    background-color: white;
    color:black;
}
.subMenu5:hover {
  display: block;
}
.subMenu5 li{
    padding: 8px 16px;

 }
.subMenu5 li:hover{
     background-color: rgb(218, 116, 116);
     color: white;
     cursor: pointer;/*chuot*/
     border-radius: 5px;
     
 }
.logo{
    padding: 23px 0px;
   
}
a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.nav-item{
    padding: 32px 10px;
    margin: 0;
    font-size: 15px;
    display: block;

}
.container{
    display: flex;
    margin: auto;
    padding: 0;
    width: 100%;
    padding-left: 5%;
}
.hidden{
    display: flex;  
   
    list-style: none outside;
}
.nav-link{
    padding: 0;
    color: black;
    font-size: 15px;
    font-weight: 500;

}
.header-right{
    display: flex;
  padding-right: 10%;
   
    
}
.cart-link{
    padding: 0 10px;
    margin: 0;
    padding: 32px 15px;

}
.header2{
    box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);
    display: flex;
    width: 100%;
    height: 85px;
    background-color: white;
}
#icon1{
   padding-top: 5px;
   padding-left: 8px;
}
#nav{
    display: flex;
}
.list{
    width: 100%;
    float: left;
    padding-top: 40px;
}
.List{
   
    margin: 0 155px;
    padding: 0 10px;

}
.title{
    padding-bottom: 5px;

    margin-bottom: 15px;
    border-bottom: 1px #9d9d9d solid;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    position: relative;
    
}
.carousel{
    margin-top: 85px;
}
.col{
  
  

    margin: 0;
    line-height: 37px;
}
.col a{
    font-family: inherit;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover{
    color: #a74939;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    padding-left: 20px;
    font-family: inherit;
    margin: 0;
    line-height: 37px;
}
.xemtatca{
    padding: 5px 10px;
    margin-top: 6px;
    background-color: #939598;
    border-radius: 5px;
    font-size: 14px;
    color: #FFF;
    
    padding: 5px 10px;
    float: right;
}
.row{
   color: black;
   position: relative;
   
     
     width: 1550px;
    overflow: hidden;
}
.listData{
    display: flex;
   
  position: relative;
  
    color: black;
  }
  .colorItem{
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }
  .listColor{
    display: flex;
    
  }
  .spnho{  
  width: 239px;
  height: 100%;
  background-color: white;
  
  }
 
  .container1{
    margin: 52px 155px;
    padding: 10px;
    width: 1550px;
  

}
.row1{
    display: flex;
    width: 100%;
    margin: auto;
}
.cliked{
    padding-bottom: 10px;   
    margin-bottom: 20px;
    font-size: 19px;
   
}
.col_click{
    width: 16.66666667%;
    height: 297px;
    padding: 0 10px;
}
.list-menu{
   list-style: none;
   padding-left: 0px;

}
.classic-text-widget img{
    width: 15px;
    height: 15px;
}
.list-menu li{ 
   padding: 5px 0;
   
 
 }
.cuoi{
    margin-top: 40px;
    background-color: #f2f2f2;
    padding: 40px;

}
.fa{
    color: #a74939;
}
.anhmoi{
    width: 239px;
    height: 239px;
}
.tensanphan{
    margin-top: 10px;
    margin-bottom: 5px;
   
}
.tensanphan p{
    text-align: center;
}
.giatiensanpham b{
  display: flex;
  justify-content: center;
}
.mausac{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.colorItem{
    border: solid 1px darkgrey;
    height: 28px;
    width: 28px;
    content: "";
}
.next{
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    width: 25px;
    height: 70px;
    border: none;
    background-color:#cdcdcd; ;
}
.back{
   
    display: none;
    top: 50%;
    left: 0;
    position: absolute;
    width: 25px;
    height: 70px;
    border: none;
    background-color:#cdcdcd; ;
}
.row:hover .back{
    display: block;
}
.row:hover .next{
    display: block;
}
.l123{
    
    width: 100%;
  
}
